<b>When directly in component:</b>
<p>
  <app-inner>
    <app-has-inner></app-has-inner>
  </app-inner>
</p>
<p>HTML templae:</p>
<pre>
  <code>
    &lt;app-inner>
      &lt;app-has-inner>&lt;/app-has-inner>
    &lt;/app-inner>
  </code>
</pre>

<b>When projected via
  <i>ng-content</i>:</b>
<p>
  <app-wrapper>
    <app-has-inner></app-has-inner>
  </app-wrapper>
</p>
<p>HTML templae:</p>
<pre>
  <code>
    &lt;app-wrapper>
      &lt;app-has-inner>&lt;/app-has-inner>
    &lt;/app-wrapper>
  </code>
</pre>

<b>When projected via
  <i>ng-template</i>:</b>
<p>
  <app-wrapper-tpl>
    <ng-template>
      <app-has-inner></app-has-inner>
    </ng-template>
  </app-wrapper-tpl>
</p>
<p>HTML templae:</p>
<pre>
  <code>
    &lt;app-wrapper-tpl>
      &lt;ng-template>
        &lt;app-has-inner>&lt;/app-has-inner>
      &lt;/ng-template>
    &lt;/app-wrapper-tpl>
  </code>
</pre>
